<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apartment-luxestudio-0-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-1-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-2-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-3-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-4-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-5-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-luxestudio-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>apartment-studio-1-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment-studio-2-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment-studio-3-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment-studio-4-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment-studio-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment-studio-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apartment_s-blue-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>apartment_s-green-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>apartment_s-red-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>apartment.png</string>
            <key>size</key>
            <string>{1876,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4efe10e41256b93e0f0cd6c159aa1036:45e143ed7e8868df5dacbf88a37e54f9:ccaf4e6b4a443bdbfb68a1e7497baa36$</string>
            <key>textureFileName</key>
            <string>apartment.png</string>
        </dict>
    </dict>
</plist>
