<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MM_FastFood-burgers-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,150},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-chinese-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,76},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-coffee_shop-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,150},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-icecream-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,76},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-pizza-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,150},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-sushi-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,76},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-tacos-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,150},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_FastFood-yogurt-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,76},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>MM_Restaurant-French-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_Restaurant-Hibachi-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_Restaurant-Indian-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_Restaurant-indian.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,174},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_Restaurant-pub-HDv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,96}}</string>
                <key>sourceSize</key>
                <string>{768,96}</string>
            </dict>
            <key>MM_Restaurant-pub-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,100},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_Restaurant-steak-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_SodaMachines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,150},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>MM_restaurant-french-evening-v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{384,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,72}}</string>
                <key>sourceSize</key>
                <string>{384,72}</string>
            </dict>
            <key>MM_shop-closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,76},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,72}</string>
            </dict>
            <key>MM_vendingmachine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,150},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>OT Anti-Tobacco Vending Machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,150},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>OT Cigarette Vending Machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commercial.png</string>
            <key>size</key>
            <string>{2000,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcb176562b20d16837da1cea7863585f:dfadac8c78284b424586c4e31e4f0a6a:78ccc62cf36069b7dcaf9dde6ae8251a$</string>
            <key>textureFileName</key>
            <string>commercial.png</string>
        </dict>
    </dict>
</plist>
