<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HrD_condo-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>HrD_condo-occupied1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>HrD_condo-occupied2-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>HrD_condo-occupied3-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>HrD_condo-occupied4-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1550},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty1-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty2-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty2-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty3-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1292},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-empty3-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1a-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1b-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1c-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1d-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1034},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1e-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1f-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied1g-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2a-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,776},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2b-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2c-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2d-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2e-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2f-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied2g-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3a-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3b-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3c-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3d-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3e-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3f-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3g-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>condo-occupied3h-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>condo.png</string>
            <key>size</key>
            <string>{334,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4488ce078834f5c63a9cac51c933df0d:28040208f6dca33f7e8226023aa17d7c:1977fb4c873aa3dba5df1375ce027147$</string>
            <key>textureFileName</key>
            <string>condo.png</string>
        </dict>
    </dict>
</plist>
