<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MM_PartyHall-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{384,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,120}}</string>
                <key>sourceSize</key>
                <string>{384,120}</string>
            </dict>
            <key>MM_PrivateHousekeeping-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,148},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>MM_PrivateHousekeeping-night1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,148},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>MM_Recycle-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,144}}</string>
                <key>sourceSize</key>
                <string>{400,144}</string>
            </dict>
            <key>MedicalClinic_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>Restrooms-empty-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,148},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>fire_escape_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,124},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>partyhall-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{384,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,144}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>partyhall-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{384,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,144}}</string>
                <key>sourceSize</key>
                <string>{384,144}</string>
            </dict>
            <key>security_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,148},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facility.png</string>
            <key>size</key>
            <string>{1562,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1477f3c129b9ea94746436e837864156:546fb8b04466e4d65b6898c68dd0fa0a:fb69cd9f25ab9a6a043fcb3a44eca118$</string>
            <key>textureFileName</key>
            <string>facility.png</string>
        </dict>
    </dict>
</plist>
