<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheckInDesk-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,52},{256,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,48}}</string>
                <key>sourceSize</key>
                <string>{256,48}</string>
            </dict>
            <key>CheckInDesk-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{256,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,48}}</string>
                <key>sourceSize</key>
                <string>{256,48}</string>
            </dict>
            <key>CheckInDesk-1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,100},{256,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,48}}</string>
                <key>sourceSize</key>
                <string>{256,48}</string>
            </dict>
            <key>CheckInDesk-1-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,100},{256,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,48}}</string>
                <key>sourceSize</key>
                <string>{256,48}</string>
            </dict>
            <key>Hotel-Suite-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,102},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>Hotel_D_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>Hotel_K_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>Hotel_LS_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Hotel_S_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>MM_Hotel-LoveSuite-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,52},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>MM_Hotel-LoveSuite-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>MM_Hotel-Suite-night-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,52},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>MM_Hotel-Suite-night-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,102},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>MM_Hotel-Suite-night-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>MM_Hotel-double-day-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-double-day-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-double-day.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-double-night-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-double-night-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-double-night.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>MM_Hotel-single-day-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,68},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>MM_Hotel-single-day-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>MM_Hotel-single-night-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,68},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>MM_Hotel-single-night-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>MM_housekeeping_day_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>MM_housekeeping_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,76},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>MM_housekeeping_night_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>familySuite-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,102},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>familySuite-1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,102},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>hotelSuite-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,52},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>largeSuite-1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hotel.png</string>
            <key>size</key>
            <string>{1900,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a543d521c212e6986f37a11da79cecd9:0d892511479b067dfe9c8928dfb327d2:970fcb54302df00cc75f94ade44a7bf5$</string>
            <key>textureFileName</key>
            <string>hotel.png</string>
        </dict>
    </dict>
</plist>
