<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MM_GrandLobby-1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,364},{624,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,216}}</string>
                <key>sourceSize</key>
                <string>{624,216}</string>
            </dict>
            <key>MM_Grandlobby-2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,364},{624,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,216}}</string>
                <key>sourceSize</key>
                <string>{624,216}</string>
            </dict>
            <key>MM_SkyLobby-1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,656},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_SkyLobby-2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,656},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_SkyLobby-3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,582},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_SkyLobby-4star.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,582},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_SkyLobby-5star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,2},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_SkyLobby-tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{624,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,72}}</string>
                <key>sourceSize</key>
                <string>{624,72}</string>
            </dict>
            <key>MM_awning-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,628},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>MM_lobbyandMezz-3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{624,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,360}}</string>
                <key>sourceSize</key>
                <string>{624,360}</string>
            </dict>
            <key>MM_lobbyandMezz-4star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{624,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,360}}</string>
                <key>sourceSize</key>
                <string>{624,360}</string>
            </dict>
            <key>MM_lobbyandMezz-5star.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{624,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,360}}</string>
                <key>sourceSize</key>
                <string>{624,360}</string>
            </dict>
            <key>MM_lobbyandMezz-tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,360}}</string>
                <key>sourceSize</key>
                <string>{624,360}</string>
            </dict>
            <key>carpeted hallway-pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,224},{16,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,72}}</string>
                <key>sourceSize</key>
                <string>{16,72}</string>
            </dict>
            <key>carpeted hallway.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,150},{16,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,72}}</string>
                <key>sourceSize</key>
                <string>{16,72}</string>
            </dict>
            <key>carpeted_hallway-modern.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,76},{16,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,72}}</string>
                <key>sourceSize</key>
                <string>{16,72}</string>
            </dict>
            <key>emptyfloor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{16,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,72}}</string>
                <key>sourceSize</key>
                <string>{16,72}</string>
            </dict>
            <key>placeholder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,324},{16,2}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,72}</string>
            </dict>
            <key>reinforcedspace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,692},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>spacebetweenfloors.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,298},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobbies.png</string>
            <key>size</key>
            <string>{2046,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03da9d5d81368ba9f420f26d75573520:4ae3c500d102aba81e03470623a77b0a:d3ebad76922a90485a82125ce91afc1f$</string>
            <key>textureFileName</key>
            <string>lobbies.png</string>
        </dict>
    </dict>
</plist>
