<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Office-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1838},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1692},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1546},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1400},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1254},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1108},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,962},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>Office_7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,816},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>largeOffice-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,668},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-1-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,488},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-1-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,594},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-1-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-10-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,520},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-10-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-11-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,326},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-11-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-12-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-3-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,372},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-3-dayoccupied-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-3-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-4-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,298},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-4-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-5-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-5-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-6-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-6-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,150},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-7-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-7-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,76},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-8-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-8-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-9-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>largeOffice-9-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{160,72}</string>
            </dict>
            <key>office-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,650},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1852},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-1-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1778},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-1-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-2-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1704},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-2-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-3-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1630},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-3-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-4-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1556},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-4-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-5-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1482},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-5-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-6-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1408},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-6-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-7-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1334},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-7-dayoccupied-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office-7-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1260},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>officeBreakroom-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>officeBreakroom-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1186},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>officeReception-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>officeReception-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1112},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1038},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,964},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_0_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,890},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_6_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_6_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,816},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_6_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,742},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>office_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>smallOffice-0-day-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1926},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-0-night-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1926},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-1-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-1-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1906},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-2-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1832},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-2-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1758},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-3-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1684},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-3-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1610},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-4-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1536},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-4-dayoccupied-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1462},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-4-dayoccupied-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1388},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-4-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1314},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1240},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1166},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1092},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1018},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,944},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-dayoccupied-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,870},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>smallOffice-5-nightoccupied-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,796},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>office.png</string>
            <key>size</key>
            <string>{434,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5675e477f98cfafc71281f4c263bc4bc:ed7fbfe87feb127a81c7b0e738e0dbd9:fb00ac36633d4a250758c4c5b723a99e$</string>
            <key>textureFileName</key>
            <string>office.png</string>
        </dict>
    </dict>
</plist>
